.ColorBox {
  width: 20%;
  height: 25%;
  margin: 0 auto;
  display: inline-block;
  position: relative;
  cursor: pointer;
  margin-top: -5px;
}

.copy-btn {
  width: 100px;
  height: 30px;
  position: absolute;
  display: inline-block;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  outline: none;
  background-color: rgba(255, 255, 255, 0.3);
  font-size: 1rem;
  line-height: 30px;
  color: #fff;
  text-transform: uppercase;
  border: none;
  opacity: 0;
  transition: all 0.5;
}

.ColorBox:hover .copy-btn {
  opacity: 1;
}

.box-content {
  position: absolute;
  width: 100%;
  left: 0;
  bottom: 0;
  padding: 10px;
  color: #000;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-size: 12px;
}

.see-more {
  position: absolute;
  background-color: rgba(255, 255, 255, 0.3);
  right: 0;
  bottom: 0;
  text-transform: uppercase;
  color: #fff;
  width: 60px;
  height: 30px;
  line-height: 30px;
  text-align: center;
}

.copy-overlay {
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: 999;
  transition: transform 0.5s ease-in-out;
  transform: scale(0);
}

.copy-message {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  justify-content: center;
  height: 100%;
  text-align: center;
  font-size: 4rem;
  transform: scale(0);
  opacity: 0;
  color: #fff;
  z-index: 99999;
}

.copy-message h1 {
  font-weight: 400;
  text-shadow: 1px 2px black;
  background-color: rgba(255, 255, 255, 0.3);
  width: 100%;
  text-align: center;
  margin-bottom: 0;
  padding: 1rem;
  text-transform: uppercase;
}

.copy-message p {
  font-size: 2rem;
  font-weight: 100;
}
